<div class="box">
  <div class="wrapper">
    <h1>Login page</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="form">
      <!-- Email -->
      <input
        class="input"
        type="text"
        formControlName="email"
        required
        placeholder="e-mail"
        [ngClass]="{
          inputError: (email!.dirty || email!.touched) && email!.invalid,
          inputSuccess: email!.valid
        }"
      />
      <div *ngIf="email!.dirty && email!.touched && email!.invalid" class="error">
        <div *ngIf="email!.errors?.['required']">Email is required</div>
        <div *ngIf="email!.errors?.['pattern']">Email incorrect pattern</div>
      </div>

      <!-- Password -->
      <input
        class="input"
        type="password"
        formControlName="password"
        required
        placeholder="password"
        [ngClass]="{
          inputError: (password!.dirty || password!.touched) && password!.invalid,
          inputSuccess: password!.valid
        }"
      />
      <div *ngIf="password!.invalid && password!.dirty && password!.touched" class="error">
        <div *ngIf="password!.errors?.['required']">Password is required.</div>
        <div *ngIf="password!.errors?.['minlength']">Name must be at least 6 characters long.</div>
      </div>

      <!-- Remember me -->
      <label> <input type="checkbox" formControlName="rememberMe" /> remember me </label>
      <button type="submit" [disabled]="loginForm.invalid">sign in</button>
    </form>
  </div>
</div>
